# Configuration of Simula's HUD (in i3status format).
# See https://i3wm.org/docs/i3status.html
general {
        output_format = "none"
        colors = true
        interval = 1
}

order += "disk /"
order += "wireless wlan0"
order += "ethernet enp5s0" # eth0
order += "battery 0"
order += "memory"
order += "tztime local"

wireless wlan0 {
        format_up = "📶 (%quality at %essid, %bitrate) %ip"
        format_down = "📶 down"
}

ethernet eth0 {
        format_up = "🔗 %ip (%speed)"
        format_down = "🔗 down"
}

ethernet enp5s0 {
        format_up = "🔗 %ip (%speed)"
        format_down = "🔗 down"
}

battery 0 {
        format = "🔋 %status %percentage %remaining %emptytime"
        format_down = "🔌 Plugged"
        status_chr = "🔌 ⚡ CHR"
        status_bat = "🔋 BAT"
        status_unk = "🔋 ? UNK"
        status_full = "🔋 ☻ FULL"
        path = "/sys/class/power_supply/BAT%d/uevent"
        low_threshold = 10
}

tztime local {
        format = "🕐 %Y-%m-%d %H:%M:%S"
        hide_if_equals_localtime = false
}

cpu_temperature 0 {
        format = "Temp: %degrees °C"
        path = "/sys/devices/platform/coretemp.0/temp1_input"
}

memory {
        format = "💻 %used / %total"
        # threshold_degraded = "10%"
        format_degraded = "MEMORY: %free"
}

disk "/" {
        format = "💽 %avail free"
}

read_file uptime {
        path = "/proc/uptime"
}
